# Overlay
from {{ hostip }}:{{ irixversion }}/Overlay/disc1/dist
{% if '6.5.22'  == irixversion %}
from {{ hostip }}:{{ irixversion }}/Overlay/disc2/dist
{% else %}
from {{ hostip }}:{{ irixversion }}/Overlay/disc2/dist
{% endif %}
from {{ hostip }}:{{ irixversion }}/Overlay/disc3/dist
# Foundation
from {{ hostip }}:6.5/Foundation/disc1/dist
from {{ hostip }}:6.5/Foundation/disc2/dist
# Development
from {{ hostip }}:6.5/Development/devfoundations/dist
from {{ hostip }}:6.5/Development/devlibs/dist
# NFS
from {{ hostip }}:6.5/Foundation/nfs/dist
# Apps
from {{ hostip }}:{{ irixversion }}/Overlay/apps/dist
{% if '6.5.30'  == irixversion %}
from {{ hostip }}:{{ irixversion }}/Overlay/capps/dist
{% endif %}
# # MIPSpro
# from {{ hostip }}:6.5/Development/prodev/dist
# from {{ hostip }}:6.5/Development/mipspro/dist
# from {{ hostip }}:6.5/Development/mipspro_update
# from {{ hostip }}:6.5/Development/mipspro_c/CDROM/dist
# from {{ hostip }}:6.5/Development/mipspro_cee/dist
# from {{ hostip }}:6.5/Development/mipspro_cpp/dist
# from {{ hostip }}:6.5/Development/mipspro_ap/dist
# # Extras
# from {{ hostip }}:6.5/Extras/perfcopilot/dist
